In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("covid_19_data.csv")

In [19]:
grouped_df = df.groupby(["ObservationDate", "Country/Region", "Province/State"]).count()

In [20]:
grouped_df[grouped_df['Last Update'] > 1].sort_values(by=['Last Update'], ascending=False)

Empty DataFrame
Columns: [SNo, Last Update, Confirmed, Deaths, Recovered]
Index: []

같은 날짜에 같은 지역의 확진자 수가 2번 이상 측정된 곳은 마지막 업데이트 시간을 기준으로 하나의 데이터로 통합하였다.

In [21]:
accumulated_df = df.groupby(["ObservationDate", "Country/Region"]).sum()

In [27]:
accumulated_df.drop(["SNo"], axis=1, inplace=True)
accumulated_df.to_csv("accumulated_covid_19_data.csv", mode='w')

In [28]:
accumulated_df

                                    Confirmed  Deaths  Recovered
ObservationDate Country/Region
01/22/2020      Hong Kong                 0.0     0.0        0.0
                Japan                     2.0     0.0        0.0
                Macau                     1.0     0.0        0.0
                Mainland China          547.0    17.0       28.0
                South Korea               1.0     0.0        0.0
...                                       ...     ...        ...
05/14/2020      West Bank and Gaza      375.0     2.0      310.0
                Western Sahara            6.0     0.0        6.0
                Yemen                    85.0    12.0        1.0
                Zambia                  654.0     7.0      124.0
                Zimbabwe                 37.0     4.0       13.0

[13751 rows x 3 columns]